.services {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: -4;
	background: #FFFFFF;
}

.title {
	margin: 145px 0 14px 0;
	font-family: 'DM Serif Text';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 53px;
	color: #00486d;
}

.desc {
	margin-bottom: 15px;
	max-width: 550px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 42px;
	color: #00486d;
}

.cart_block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 3rem;
	margin-bottom: 77px;
}

@media all and (max-width: 1100px) {
.container {
	padding: 0 60px;
	}
.cart_block {
	padding: 0 1rem;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: none;
	}
.title {
	padding: 0 1rem;
	}
.desc {
	padding: 0 1rem;
	}
}

@media all and (max-width: 960px) {
	.cart_block {
		padding: 0 1rem;
		justify-content: center;
		align-items: none;
		grid-template-columns: 1fr 1fr;
	}
	.title {
		padding: 0 1rem;
	}
	.desc {
		padding: 0 1rem;
	}
}

@media all and (max-width: 720px) {
	.cart_block {
		padding: 0 1rem;
		justify-content: center;
		align-items: none;
		grid-template-columns: 380px;
	}
	.title {
		font-size: 40px;
		padding: 0 1rem;
		text-align: center;
		}
	.desc {
		font-size: 20px;
		padding: 0 1rem;
		align-items: center	;
	}
}

@media all and (max-width: 540px) {
	.cart_block {
		padding: 0 1rem;
		justify-content: center;
		align-items: none;
		grid-template-columns: 1fr;
	}
	.title {
		font-size: 40px;
		padding: 0 1rem;
		text-align: center;
	}
	.desc {
		font-size: 20px;
		padding: 0 1rem;
		align-items: center	;
		}
	}

@media all and (max-width: 300px) {
	.cart_block {
		padding: 0 1rem;
		justify-content: center;
		align-items: none;
		grid-template-columns: 1fr;
	}
	.title {
		font-size: 40px;
		padding: 0 1rem;
		text-align: center;
	}
	.desc {
		font-size: 20px;
		padding: 0 1rem;
		align-items: center;
	}
}

