.about {
	position: relative;
	display: flex;
	justify-content: space-between;
	background: #e4ecf0;
	min-height: 739px;
	z-index: -3;
}
.blocks {
	display: flex;
	justify-content: space-between;
}
.block_title {
	display: flex;
	flex-direction: column;
	margin-top: 113px;
	width: 55%;
	align-items: start;
}
.points_top {
	position: absolute;
	background: url(../../assets/about/points.png) no-repeat;
	z-index: -2;
	width: 208px;
	height: 208px;
	left: 13%;
	bottom: 116.31%;
	top: -20%;
	opacity: 0.6;
	margin: 0;
}
.title {
	font-family: 'DM Mono';
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 67px;
	color: #00486d;
}
.desc {
	margin: 62px 0 20px 0;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 42px;
	color: #00486d;
}
.btn {
	padding: 12px 24px;
	text-decoration: none;
	background: #00486d;
	border-radius: 4px;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	color: #ffffff;
}
.block_bg {
	position: relative;
	width: 45%;
}

.image {
	background: url(../../assets/about/IMAGE.png) center center/cover no-repeat;
	position: absolute;
	width: 100%;
	height: 753px;
	left: 0%;
	right: 6.3%;
	top: 56px;
	filter: drop-shadow(0px 32px 24px rgba(0, 72, 109, 0.5));
	border-radius: 0px;
}

.bg {
	position: absolute;
	z-index: -1;
	width: 36%;
	height: 753px;
	right: 0%;
	top: -2.2%;
	background: #00486d;
	border-radius: 0px;
}

.points_bot {
	position: absolute;
	background: url(../../assets/about/points.png) no-repeat;
	z-index: -2;
	width: 208px;
	height: 208px;
	left: -11%;
	top: 96.31%;
	bottom: 0%;
	opacity: 0.6;
	margin: 0;
}

@media all and (max-width: 1261px) {
	.bg {
		width: 35%;
	}
	.block_title {
		padding: 0 0 0 2rem;
	}
	.desc {
		padding: 0 2rem;
	}
	.title {
		padding: 0 2rem;
	}
	.btn {
		margin: 0 2rem;
		}
}

@media all and (max-width: 1024px) {
	.bg {
		width: 30%;
	}
	.block_title {
		padding: 0 0 0 2rem;
	}
	.title {
		font-size: 48px;
		padding: 0 2rem;
	}
	.desc {
		font-size: 20px;
		padding: 0 2rem;
	}
	.btn {
		margin: 0 2rem;
	}
}

@media all and (max-width: 960px) {
	.bg {
		width: 27%;
	}
	.block_title {
		padding: 0 0 0 2rem;
	}
	.title {
		font-size: 42px;
		padding: 0 2rem;
	}
	.desc {
		font-size: 20px;
		padding: 0 2rem;
	}
	.btn {
		margin: 0 2rem;
	}
}

@media all and (max-width: 720px) {
	.block_bg {
		max-width: 100%;
		}
	.about {
		padding-bottom: 1rem;
	}
	.blocks {
		display: flex;
		flex-direction: column-reverse;
	}
	.points_bot {
		display: none;
	}
	.points_top {
		display: none;
	}
	.image {
		width: 100%;	
	}
	.block_bg {
		position: relative;
		width: 100%;
		padding: 0;
	}
	.bg {
		display: none;
	}
	.block_title {
		padding: 0 0 0 2rem;
	}
	.title {
		font-size: 42px;
		padding: 0 2rem;
	}
	.desc {
		font-size: 20px;
		padding: 0 2rem;
	}
	.btn {
		margin: 0 2rem;
	}
}

